<div class="container">
<table>
  <thead>
    <tr>
      <th><h3>Please Vote:</h3></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @topics.each do |topic| %>
  <tr>
    <td><div class="shop"><%= link_to topic.title, topic %></div></td>
    <td><%= pluralize(topic.votes.count, "vote") %></td>
    <td><%= button_to '+1', votes_path(topic_id: topic.id), method: :post %></td>
    <td><div class="delete"><%= link_to 'Delete', topic, method: :delete, data: { confirm: 'Are you sure?' } %></div></td>
  </tr>
<% end %>
  </tbody>
</table>

<br>

<div class="newtopic"><%= link_to 'New Shop', new_topic_path %></div>
</div>