<div style="clear:both;"><div class="container">
<p id="notice"><%= notice %></p>
<br>
<p>
  <strong>Coffee Shop:</strong>
  <%= @topic.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @topic.description %>
</p>

<%= link_to 'Edit', edit_topic_path(@topic) %> |
<%= link_to 'Back', topics_path %>
</div>
</div>
