<!DOCTYPE html>
<html>
<head>
  <title>Suggestotron</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900|Oswald:400,300,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lobster|Satisfy|Lobster+Two' rel='stylesheet' type='text/css'>
</head>
<body>
<h1>What's Your Favorite Coffee Shop? <i class="fa fa-coffee"></i></h1>
<div class="container">
<div class="back"><%= link_to 'Vote', topics_path %></div></div>
<div class="back"><%= link_to 'About', about_path %></div></div>
<%= yield %>

</body>
</html>
